@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Profile";
}

@model Doggolingo.Models.DogParent

<h3>Complete Your Profile</h3>

@if (User.Identity.IsAuthenticated)
{
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.FirstName)
        @Html.TextBoxFor(model => model.FirstName, new { @required = "true" })
        @Html.LabelFor(model => model.LastName)
        @Html.TextBoxFor(model => model.LastName, new { @required = "true" })

        <input type="submit" value="Register" />
    }
}