@{
    ViewData["Title"] = "Modules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Doggolingo.Models.Module>

<h2>Modules</h2>
<ul>
    @foreach (var listModule in Model)
    {
        <li>
            @Html.ActionLink("Details", "Details", new { id = listModule.ModuleId }) |
        </li>
    }
</ul>